<!DOCTYPE html>
<html>
<style>
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRH4DcQTCBpKA58SSxfOL5ljoF8bwwxc1Kjz4UmVOboBoKsS1GI');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
<body>
<h1 style="color:orange;"><i>Pubg Tournament 2019  </i> </h1>
<h2><strong> <i>Registration Form</i></strong> </h2>
<h1 style="color:white;"><marquee behavior="scroll" direction="right">Registration will open on october 5 2019!</marquee></h1>

<img src="/Springbootv2/images/Screenshot from 2019-09-25 11-36-15.png;">

<FORM value ="form" action="msss" method="post">
 <P>
<LABEL for="firstname">First Name: </LABEL>
<INPUT type="text" name="firstname"><BR>
<LABEL for="lastname">Last Name: </LABEL>
<INPUT type="text" name="lastname"><BR>
<LABEL for="email">email: </LABEL>
<INPUT type="text" name="email"><BR>
<INPUT type="radio" name="gender" value="Male">Male<BR>
<INPUT type="radio" name="gender" value="Female">Female<BR>
<INPUT type="submit" value="Send"> <INPUT type="reset">
 </P>

</FORM>
</body>
</html>
